.list-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center;
    /* gap: 1rem; */
    width: 100vw;
}
.list-card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background:rgba(255, 255, 255, 0.185);
    backdrop-filter: blur(6px);
    padding: 3.5rem 1.5rem ;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    /* flex-direction: column; */
    width: 35rem;
    min-height:30rem;
    align-items: center;
    justify-content:center;

    margin: 2rem;
    /* border-bottom: 1px solid black; */
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.137);
    gap: 2rem;
    overflow: hidden;
}
.list-sidebar-green{
    position: absolute;
    height: 180%;
    transform:rotate(45deg) translate(24rem, 0px);
    background:rgba(27, 187, 80, 0.137);
    width: 18rem;
    left:0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.list-sidebar-red{
    position: absolute;
    height: 180%;
    transform:rotate(45deg) translate(24rem, 0px);
    background:rgba(112, 28, 28, 0.137);
    width: 18rem;
    left:0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.list-sidebar-yellow{
    position: absolute;
    height: 180%;
    transform:rotate(45deg) translate(24rem, 0px);
    background:rgba(129, 127, 30, 0.137);
    width: 18rem;
    left:0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.list-sidebar{
    position: absolute;
    height: 180%;
    transform:rotate(45deg) translate(24rem, 0px);
    background:rgba(19, 19, 78, 0.137);
    width: 18rem;
    left:0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.list-title{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width: 80%
}
.list-article{
    font-size:1.4rem;
    width:80%;
}
.list-description{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.v-score{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.titlebtn{
    background-color:white ;
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 3px;
    /* width: 100%; */

}
.titlebtn:hover{
    cursor: pointer;
    color:white;
    background-color:rgba(255, 255, 255, 0);
}
.list-badges{
    position: absolute;
    right: 0;
    top:0;
}
